In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import requests
import datetime

#from google.cloud import bigquery
#client = bigquery.Client()

In [3]:
lookback = 7

today = datetime.datetime.today()
start_date = (today - datetime.timedelta(days=lookback)).strftime('%Y-%m-%d')
end_date = today.strftime('%Y-%m-%d')

Accounts created daily

In [4]:
url = f'https://data.ripple.com/v2/stats/?start={start_date}&end={end_date}&interval=day&family=metric&metrics=accounts_created'
res = requests.get(url)
xrp_accts = pd.DataFrame(res.json()['stats'])
xrp_accts.tail()

   accounts_created                  date
3               495  2019-12-18T00:00:00Z
4               436  2019-12-19T00:00:00Z
5               465  2019-12-20T00:00:00Z
6               410  2019-12-21T00:00:00Z
7               109  2019-12-22T00:00:00Z

Network stats: number of nodes and validators

In [5]:
date_list = [x.strftime('%Y-%m-%dT%H:%M:%SZ') for x in list(pd.date_range((today - datetime.timedelta(days=lookback)).strftime('%Y%m%d'),today.strftime('%Y%m%d'),freq='1D'))]
node_list = []

for d in date_list:
    url = f'https://data.ripple.com/v2/network/topology?verbose=true&date={d}'
    res = requests.get(url)
    try:
        node_list.append(res.json()['node_count'])
    except:
        node_list.append(None)
        print(f'Error with {d}')
nodes_df = pd.DataFrame({'date': date_list, 'nodes': node_list})
nodes_df

                   date  nodes
0  2019-12-15T00:00:00Z    971
1  2019-12-16T00:00:00Z    971
2  2019-12-17T00:00:00Z    977
3  2019-12-18T00:00:00Z    975
4  2019-12-19T00:00:00Z    991
5  2019-12-20T00:00:00Z   1004
6  2019-12-21T00:00:00Z    987
7  2019-12-22T00:00:00Z    980

In [6]:
res = requests.get(f'https://data.ripple.com/v2/network/validators')
res.json()['count']

153

Ledger data: transaction count and value

Requires a GBQ account. You can provide service account JSON credentials as an argument. If you want to run as your google user from your PC, you should first install the [Google Cloud SDK](https://cloud.google.com/sdk/), then run:
`gcloud auth application-default login`

In [7]:
def gbq_query(query, query_params=None):
    """
    Run a query against Google Big Query, returning a pandas dataframe of the result.

    Parameters
    ----------
    query: str
        The query string
    query_params: list, optional
        The query parameters to pass into the query string
    """
    client = bigquery.Client()
    job_config = bigquery.QueryJobConfig()
    job_config.query_parameters = query_params
    return client.query(query, job_config=job_config).to_dataframe()

In [12]:
query = """
select
    date(l.CloseTime) as `date`
    , t.TransactionType
    , count(1) as txn_count
    , sum(t.AmountXRP) / 1e6 as txn_value
from `xrpledgerdata.fullhistory.transactions` t
join `xrpledgerdata.fullhistory.ledgers` l
    on t.LedgerIndex = l.LedgerIndex
where t.TransactionResult = "tesSUCCESS"
    and date(l.CloseTime) >= CAST(@start_date AS DATE)
group by 1,2
order by 1 desc, 2
"""

query_params = [
    bigquery.ScalarQueryParameter("start_date", "STRING", start_date)
]

xrp = gbq_query(query,query_params)
xrp

/anaconda3/lib/python3.7/site-packages/google/auth/_default.py:66: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/anaconda3/lib/python3.7/site-packages/google/auth/_default.py:66: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

          date      TransactionType  txn_count     txn_value
0   2019-10-17           AccountSet        408           NaN
1   2019-10-17          OfferCancel      16136           NaN
2   2019-10-17          OfferCreate     388463           NaN
3   2019-10-17              Payment      31410  3.188668e+08
4   2019-10-17        SetRegularKey          2           NaN
5   2019-10-17        SignerListSet          3           NaN
6   2019-10-17             TrustSet        114           NaN
7   2019-10-16           AccountSet        802           NaN
8   2019-10-16         EscrowCreate          9  3.901000e+03
9   2019-10-16         EscrowFinish          2           NaN
10  2019-10-16          OfferCancel      24033           NaN
11  2019-10-16          OfferCreate     656942           NaN
12  2019-10-16              Payment      45729  3.479951e+08
13  2019-10-16        SetRegularKey          6           NaN
14  2019-10-16             TrustSet        395           NaN
15  2019-10-15           AccountSet        664           NaN
16  2019-10-15         EscrowCreate          1  6.500000e+02
17  2019-10-15         EscrowFinish          1           NaN
18  2019-10-15          OfferCancel      19867           NaN
19  2019-10-15          OfferCreate     682440           NaN
20  2019-10-15              Payment      56743  3.848994e+08
21  2019-10-15        SetRegularKey          5           NaN
22  2019-10-15             TrustSet         66           NaN
23  2019-10-14           AccountSet        592           NaN
24  2019-10-14         EscrowCreate          6  3.026000e+03
25  2019-10-14         EscrowFinish          1           NaN
26  2019-10-14          OfferCancel      19757           NaN
27  2019-10-14          OfferCreate     670692           NaN
28  2019-10-14              Payment      50245  3.922396e+08
29  2019-10-14  PaymentChannelClaim          2           NaN
..         ...                  ...        ...           ...
37  2019-10-13          OfferCreate     670366           NaN
38  2019-10-13              Payment      44633  1.554064e+08
39  2019-10-13        SetRegularKey          4           NaN
40  2019-10-13             TrustSet         78           NaN
41  2019-10-12           AccountSet        653           NaN
42  2019-10-12         EscrowFinish          1           NaN
43  2019-10-12          OfferCancel      12094           NaN
44  2019-10-12          OfferCreate     651750           NaN
45  2019-10-12              Payment      49774  1.495242e+08
46  2019-10-12        SetRegularKey          9           NaN
47  2019-10-12             TrustSet         73           NaN
48  2019-10-11           AccountSet        604           NaN
49  2019-10-11         EscrowCreate         14  4.760000e+02
50  2019-10-11         EscrowFinish          5           NaN
51  2019-10-11          OfferCancel      15102           NaN
52  2019-10-11          OfferCreate     684711           NaN
53  2019-10-11              Payment      51520  2.499007e+08
54  2019-10-11        SetRegularKey         14           NaN
55  2019-10-11        SignerListSet          5           NaN
56  2019-10-11             TrustSet         77           NaN
57  2019-10-10           AccountSet        617           NaN
58  2019-10-10         EscrowCreate          8  1.995600e+04
59  2019-10-10         EscrowFinish          3           NaN
60  2019-10-10          OfferCancel      16212           NaN
61  2019-10-10          OfferCreate     679976           NaN
62  2019-10-10              Payment      51015  3.293839e+08
63  2019-10-10  PaymentChannelClaim          1           NaN
64  2019-10-10        SetRegularKey         12           NaN
65  2019-10-10        SignerListSet          4           NaN
66  2019-10-10             TrustSet        105           NaN

[67 rows x 4 columns]