In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
%matplotlib inline

In [2]:
t = pd.read_csv('transactions.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3050: DtypeWarning: Columns (2,7,56,57,58,59,60,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Which issuer paid the highest fees?

In [3]:
df = t.groupby(['issuer']).Fee.sum().to_frame().reset_index()

In [4]:
df[df['Fee'] == df.Fee.max() ]

                               issuer       Fee
83  rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B  15697734

### The issuer 'rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B' has paid the most important amount of fees compared to other issuers. Let's learn about their transactions.